* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    height: 60px ;
    background-color: black;
    color: white; 
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
}

.nav-options a{
    margin-right: 50px;
}
/* .nav-options .first_option {
    margin-left: 100px;
} */

.navbar a {
    color: white;
    text-decoration: none;
    font-weight:normal;
}

.nav-link {
    position: relative;
    text-decoration: none;
}
.nav-link::before {
    content: ''; /* Create an empty pseudo-element */
    position: absolute; /* Position the pseudo-element absolutely within the link */
    bottom: -2px; /* Adjust the value to control the distance of the underline from the text */
    left: 0; /* Align the underline with the left edge of the link */
    width: 0; /* Start with no width */
    height: 2px; /* Set the height of the underline */
    background-color: yellow; /* Customize the color of the underline */
    transition: width 0.3s ; /* Add a smooth transition effect */
}

.nav-link:hover::before {
    width: 100%; /* Expand the width of the underline on hover */
}

.sub-header {
    height: 120px;
    background-color: rgb(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}
.nsut-logo {
    margin-top: 10px;
    /* margin-right: 20px; */
}
.location-class {
    padding: 2em;
    font-size: large;
}
.location {
    color: aliceblue;
    text-decoration: none;
}
.g20 {
    margin-left: 50px;
}
.content {
    height: 500px;
    /* background-color: rgb(0, 0, 0, 0.8); */
    background-image: url(academics.jpg);
    margin-top: 100px;
    background-size: cover;
}
.content-sub {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    height: 500px;
    justify-content: space-evenly;
}
.options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.drop-button {
    background-color: lightyellow;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
    align-items: center;
}

.drop-button-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;

}

.drop-button-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-button-content a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown:hover .drop-button-content {
    display: block;
}

.dropdown:hover .drop-button {
    background-color: rgb(239, 117, 117);
}

.Part10{
    margin-top: 100px;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    padding-top: 50px;
}

.subPart-10{
    display: grid;
    grid-template-columns: repeat(4,1fr)    ;
    margin-left: 10%;
    margin-right: 10%;
}
.sub-subPart-10{
    padding: 30px;
    
}
.sub-subPart-10 h4{
    /* margin-top: 2em; */
    margin-bottom: 1em;
}
.sub-subPart-10 a{
    display: block;
    margin: 10px;
}
.sub-subPart-10 hr{
    border: dotted;
    color: gray
}
.sub-subPart-10 p{
    margin-top: 1em;
}
.Links-sub-subPart-10{
    padding-right: 5em  ;
    border-right: dotted;
}
.Links-sub-subPart-10 a {
    color: white;
    text-decoration: none;
}
span{
    color: #006FCE;
}
